[Unit]
Description=Parses the information coming through the Serial Port into InfluxDB
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/WeatherStation/updateable/RaspberryPi/PyScripts/SerialToInflux_Parser.py
[Install]
WantedBy=multi-user.target